---
import Badge from "../components/Badge.astro";
import Linkedin from "../components/iconos/Linkedin.astro";
import Github from "../components/iconos/Github.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <img
        class="rounded-full w-20 h-20 mb-4"
        src="https://media.licdn.com/dms/image/v2/D4D03AQEO9rkLta_ljg/profile-displayphoto-scale_200_200/B4DZlE84AaIYAY-/0/1757798434667?e=1770249600&v=beta&t=FBMRmCkUh9I85cnYgTSeIUez_DE7w8hboQpGwevflx8"
        alt="foto"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Iván <a
          href="https://www.linkedin.com/in/ivanriosdev"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Open to Work</Badge></a
        >
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        Desarrollador web orientado a la parte del servidor con conocimientos en
        Administración de Sistemas Informáticos. 
        Especializado en crear API's y BackEnd's únicos. De Málaga, España.
      </h2>

      <nav class="flex gap-x-4 mt-8">
          <SocialPill href="https://www.linkedin.com/in/ivanriosdev">
            <Linkedin class="w-6 h-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/Ivanrr462">
            <Github class="w-6 h-6" />
            GitHub
          </SocialPill>
          <SocialPill href="https://github.com/Ivanrr462">
            <Github class="w-6 h-6" />
            ivan.rios1712@gmail.com
          </SocialPill>
        </nav>
    </section>
  </main>
</Layout>
