---
import Starfield from './Stars.astro'
---

<div class='absolute inset-0 pointer-events-none'>
	<Starfield />
</div>

<style>
	@media (prefers-reduced-motion: reduce) {
		* {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
		}
	}
</style>