<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full w-12 h-12" src="https://media.licdn.com/dms/image/v2/D4D03AQEO9rkLta_ljg/profile-displayphoto-scale_200_200/B4DZlE84AaIYAY-/0/1757798434667?e=1770249600&v=beta&t=FBMRmCkUh9I85cnYgTSeIUez_DE7w8hboQpGwevflx8" alt="foto" />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>